.todoList {
    border: 1px solid red;
    list-style: none;
}

.todoItem {
    display: flex;
    justify-content: space-between;
font-weight: 700;
font-size: 20px;
line-height: 15px;
}

.contactName {
    font-weight: 500;
font-size: 20px;
line-height: 15px;
};

.contactNumber {
    font-weight: 500;
    font-size: 20px;
    line-height: 15px;
};

.contactBtn {
    background-color:aqua;
    border-radius: 5px;
}